html > body {
  background: #a7d5f1;;
  font-family: Roboto;
}

.container {
  background: #ffffff;
  border-top: 5px solid #00275B;
  border-radius: 5px 5px 0px 0px;
  margin: 140px 40px;
}

.header {
  display: flex;
}

.header-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.header-title {
  font-size: 50px;
  font-weight: 700;
  padding: 55px 0px 0px 35px;
}

.header-title2 {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  padding:  20px 0px 50px 35px;
}

.span {
  font-weight: 700;
  margin-left: 2px;
}

.qr-code {
  width: 12.4375rem;
  height: 12.4375rem;
  padding-left: 35px;
}

.box {
  display: flex;
  width: 20px;
}

.buttons {
  display: block;
  padding: 25px 0px 0px 40px;
}

.store-icon {
  width: 180px;
  height: 63px;
}

.header-vector {
  display: none;
  width: 103px;
  height: 92px;
  transform: rotate(8.773deg);
  position: absolute;
  top: 40%;
  left: 58%;
  transform: translate(-50%, -50%)
}

.header-p {
  transform: rotate(5.499deg);
  margin-top: 350px;
  width: 120px;
  text-align: end;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

nav a {
  width: 277px;
  text-decoration: underline;
  margin-bottom: 100px;
}

/* 1.Sekce */

#bezdotyk {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(1deg, rgb(1,38,91), #2c5eaa);
  color: rgb(255, 255, 255);
  padding: 50px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.article-title {
  font-size: 40px;
  font-weight: 700;
  line-height: normal;
  padding: 55px 0px 0px 35px;
}

.article-title2 {
  padding: 40px 0px 0px 35px;
}

.article-image {
  justify-content: flex-end;
}

.article-ul  {
  padding: 30px;
  list-style-type: none;
}

.article2-li {
  padding: 20px;
  margin-left: 40px;
}

.more {
  margin-left: 100px;
}

.arrow {
  margin-right: 20px;
}

/* 2.sekce */

#vydej {
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 50px;
    text-align: center;
}

.article2-title {
  color: #01275B;
  font-size: 40px;
  font-weight: 700;
  line-height: normal;
  padding: 55px 0px 0px 35px;
}

.article2-title2 {
  padding: 40px 0px 0px 35px;
  text-align: center;
}

.article2-li {
  display: flex;
}

.more2 {
  margin-left: 100px;
}

/* 3.sekce */

#sledovani {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(1deg, rgb(1,38,91), #2c5eaa);
  color: rgb(255, 255, 255);
  padding: 50px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

/* 4.sekce */

#vice {
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 50px;
    text-align: start;
    border-radius: 9500px;
}

.vice-ul {
  padding: 0px 150px 20px 130px;
}

.ul-label {
  text-align: start;
  padding-top: 30px;
  font-size: 20px;
}

.vice-li {
  list-style-type: none;
}

.vice-li p {
  margin-top: 20px;
}

.arrow2 {
  margin-right: 30px;
}

.vice-ul {
  padding-left: 60px;
}

.arrow2 {
  margin-right: 0;
  margin-bottom: 20px;
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 2s ease;
}

.reveal.active {
  transform: translateY(0px);
  opacity: 1;
}
