@media only screen and (max-width: 1310px) {
  .header-vector {
    display: none;
  }

  .header-p {
    display: none;
  }
}

@media only screen and (max-width: 1200px) {
  .article-vice-image {
    height: 600px;
    margin-top: 150px;
  }

  .vice-li {
    padding-left: 30px;
  }
}

@media only screen and (max-width: 990px) {
  .header-title {
    display: grid;
    grid-template-columns: max-content;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
  }

  .header-title2 {
    display: grid;
    grid-template-columns: max-content;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
  }

  .header-right {
    display: none;
  }
  
  .header-image {
    display: none;
  }
  
  .header-vector {
    display: none;
  }

  .header-p {
    display: none;
  }

  .box {
    display: flex;
    margin-bottom: 40px;
  }
  
  .buttons {
    display: flex;
    padding: 25px 0px 0px 40px;
  }
  
  .store-icon {
    width: 180px;
    height: 63px;
  }
  
  #bezdotyk {
    flex-direction: column;
    align-items: center;
    padding: 30px;
  }

  .article-title {
    font-size: 30px;
    padding: 20px 0 10px 0;
    text-align: center;
  }

  .article-title2 {
    font-size: 18px;
    padding-bottom: 20px;
    text-align: center;
  }

  .article-ul {
    padding: 10px;
  }

  .article2-li {
    padding: 10px;
  }

  #vydej {
    flex-direction: column;
    align-items: center;
    padding: 30px;
  }

  .article2-title {
    font-size: 30px;
    padding: 30px 0px 0px 0px;
  }

  .article2-title2 {
    padding: 20px 0px;
  }

  .article2-li {
    margin-left: 0px;
  }

  .more2 {
    margin-left: 0;
    margin-top: 20px;
  }

  #sledovani {
    flex-direction: column;
    align-items: center;
    padding: 30px;
  }

  #vice {
    flex-direction: column;
    align-items: center;
  }

  .vice-ul {
    padding: 0px;
  }

  .vice-li {
    padding: 10px;
  }

  .ul-label {
    padding-top: 10px;
    font-size: 18px;
  }

  .vice-li p {
    margin-top: 10px;
  }

  .article-image {
    margin-top: 20px;
  }

  .article-image2 {
    order: 2;
  }

  .article-vice-image {
    height: 600px;
    order: 2;
    margin-top: 30px;
  }
}

@media only screen and (max-width: 767px) {
  .header-title {
    display: grid;
    grid-template-columns: max-content;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
  }

  .header-title2 {
    display: grid;
    grid-template-columns: max-content;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
  }

  .box {
    display: flex;
    margin-bottom: 40px;
  }


  
  .buttons {
    display: block;
    padding: 25px 0px 0px 40px;
  }
  
  .store-icon {
    width: 180px;
    height: 63px;
  }
}

  @media only screen and (max-width: 574px) {   
    .article-title {
      font-size: 30px;
      padding: 20px 0 10px 0;
      text-align: center;
    }
  
    .article-title2 {
      font-size: 18px;
      padding-bottom: 20px;
      text-align: center;
    }
  
    .article-ul,
    .vice-ul,
    .article2-ul {
      padding: 10px;
    }
  
    .article2-li,
    .vice-li {
      padding: 10px;
    }
  
    .arrow,
    .arrow2 {
      margin-right: 0;
      margin-bottom: 10px;
    }
  
    #bezdotyk {
      flex-direction: column;
      align-items: center;
      padding: 30px;
    }
  
    .article-image {
      justify-content: center;
    }
  
    .article2-li {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .more {
      margin-left: 0;
      margin-top: 10px;
    }

    #vydej {
      flex-direction: column;
      align-items: center;
      padding: 30px;
    }
  
    .article2-li {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .more2 {
      margin-left: 0;
      margin-top: 10px;
    }
  
    #sledovani {
      flex-direction: column;
      align-items: center;
      padding: 30px;
    }
  
    .vice-ul {
      padding-left: 0;
      text-align: center;
    }

    #vice {
      flex-direction: column;
      align-items: center;
      padding: 30px;
    }
  
    .vice-ul {
      padding-left: 0;
      text-align: center;
    }

  }

  @media only screen and (max-width: 490px) {
    .header-left {
      margin-left: 80px;
    }
    
    .header-title {
      font-size: 30px;
      padding: 20px 0 10px 0;
      text-align: center;
    }
  
    .header-title2 {
      font-size: 16px;
      padding: 20px 0 10px 0;
      text-align: center;
    }

    .qr-code {
      display: block;
      width: 12.4375rem;
      height: 12.4375rem;
    }
    
    .box {
      display: block;
      width: 20px;
    }
    
    .buttons {
      display: block;
    }
    
    .store-icon {
      width: 140px;
      height: 46px;
    }
    
  }

  @media only screen and (max-width: 440px) {
    .header-left {
      margin-left: 70px;
    }
    
    .header-title {
      font-size: 30px;
      padding: 20px 0 10px 0;
      text-align: center;
    }
  
    .header-title2 {
      font-size: 16px;
      width: 20px;
      padding: 20px 0 10px 0;
      text-align: center;
    }
  }

  @media only screen and (max-width: 375px) {
    .header-left {
      display: flex;
      flex-direction: column;
    }
  
    .header-title {
      display: flex;
      font-size: 30px;
      text-align: center;
      margin-left: 60px;
    }
  
    .header-title2 {
      font-size: 14px;
      padding: 10px 0;
      line-height: 20px;
    }
  
    .qr-code {
      width: 150px;
      height: 150px;
      margin-left: 10px;
    }
    .store-icon {
      width: 100px;
      height: 35px;
    }
  }